body {

  p {
  }

  a {
    @include transitions($defaultanimation);
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  img {
    width: 100%;
  }

  #wrap {
  }

  @media (min-width: $break-medium) {
    //insert code
  }
}
