doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    //css
    link(rel='stylesheet',type='text/css',href='/assets/css/styles.css')
    //js
    script(src='/assets/js/scripts.js')
    title Animated Reponsive Nav
  body
    #wrap
      block content
